.img {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.singer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.singer-div {
  border: 1px solid #73394e;
  width: 350px;

  padding: 5px;
  margin: 10px;
  color: rgb(221, 88, 11);
  background-image: linear-gradient(#78b4aa, #a1e2d4);

  box-shadow: 10px 10px 8px #88888863;
}
.vote-btn {
  background-color: rgb(47, 80, 139);

  height: 30px;
  width: 140px;
  border: 1px solid lightslategray;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
}
